<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d [%thread] %level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="HISTORY_FILE" class="ch.qos.logback.core.FileAppender">
        <file>pixelHistory.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS};%msg</pattern>
        </encoder>
    </appender>

    <logger name="history.HistoryLogger">
        <appender-ref ref="HISTORY_FILE"/>
    </logger>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>